/* .title{
    color:blue;
}
h1,h2,h3{
    color:red ;
    background-color: aqua;
    text-align:center;
}

#backend{
    color:blueviolet
    
} */
/* .frt{
    margin:50px 0px 50px 20px;
    border:1px solid red;
    padding:50px 15px 40px 10px;
} */
